* {
    margin: 0;
    padding: 0;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $background-light;
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

.main {
    @include side-paddings;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container {    
    max-width: 1360px;
    width: 100%;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}