$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;

$background-light: #E1D4C9;
$background-container: #665F55;
$background-backdrop: rgba(64, 63, 61, 0.80);

$border-light: #C1B6AD;
$border-container: #665F55;

$desktop: 1440px;
$tablet: 768px;
$mobile: 380px;