.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-container__title {
    @include font(60px, 125%, $text-dark);
    text-align: center;
    width: 800px;
    height: auto;

    &_text-accent {
        font-style: italic;
        color: $text-accent;
    }
}

.menu-container__radio {
    display: none;
}

.menu-container__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;
    border: 1px solid $border-light;
    background: transparent;

    .menu-container__radio:checked + & {
        background: $border-container;

        .menu-container__button__icon-circle {
            fill: $background-light;
        }

        .menu-container__button__text {
            color: $text-light;
        }
    }
}

.menu-container__button__icon-circle {
    fill: $border-light;
}

.menu-container__button__text {
    @include font(16px, 150%, $text-dark);
}

.menu-container__buttons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}