@mixin font($font-size, $line-height, $color, $font-weight: 600, $font-style: normal) {
    font-family: Inter;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

@mixin side-paddings {
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (max-width: $mobile) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin hover-after {
    @media (hover: hover) {
        &:hover:after {
            @content;
        }
    }
}