.mobile-app__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.mobile-app__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-app__title {
    @include font(60px, 125%, $text-dark);

    &_text-accent {
        font-style: italic;
        color: $text-accent;
    }
}

.mobile-app__offer {
    @include font(16px, 150%, $text-dark, 400);

}

.mobile-app__buttons {
    display: flex;
    gap: 20px;
}

.mobile-app__download-button {
    width: 200px;
    height: auto;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid $border-container;
    background: transparent;
    display: flex;
    gap: 8px;
}

.mobile-app__download-button__description {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: left;
}

.mobile-app__download-button__get-in-on {
    @include font(10px, 140%, $text-dark);
}

.mobile-app__download-button__store {
    @include font(16px, 150%, $text-dark);
}